<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Test">
    <test name="Login">
        <classes>
            <class name="placelab.tests.LoginTest">
            </class>
            <class name="placelab.tests.ForgotYourPasswordTest">
            </class>
            <class name="placelab.tests.LoginEmptyEmail">
            </class>
            <class name="placelab.tests.LoginEmptyPassword">
            </class>
            <class name="placelab.tests.LoginEmptyPasswordAndEmail">
            </class>
            <class name="placelab.tests.LoginInvalidEmail">
            </class>
            <class name="placelab.tests.LoginInvalidPassword">
            </class>
            <class name="placelab.tests.LoginValidEmailAndPassword">
            </class>

        </classes>
    </test>
</suite>